<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/">GishHub.Com</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/releasenote">リリースノート</a></li>
                    <li><a href="/about">gishhubとは</a></li>
                    <li><a href="/products">プロダクト</a></li>
                    <li><a href="/members">メンバー紹介</a></li>
                    <li><a href="/activities">活動場所</a></li>
                    <li><a href="/inquiry">お問い合わせ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

