<div class="ctable">
    <a href="/" class="left"><?= $this->Html->image('http://takadayuichi.net/image/gishhub_widelogo_small.png', array('alt' => TITLE)) ?></a>
    <table width="700" class="left" style="margin-left:11px">
        <tr>
            <th><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/260873_100000588696676_96033954_n.jpg" alt="Hiroki Masui" style="width:106px;height:106px;" /></th>
            <th><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275863_100000532671032_2306307_n.jpg" alt="Keiichiro Nishimoto" style="width:106px;height:106px;"/></th>
            <th><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/161439_100003356432640_1256324323_n.jpg" alt="Satoshi Ebina" style="width:106px;height:106px;"/></th>
            <th><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/174462_100001394534921_4962033_n.jpg" alt="Yuichi Takada" style="width:106px;height:106px;"/></th>
            <th><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/174487_1745895585_1020116261_n.jpg" alt="Tatsuya Oiwa" style="width:106px;height:106px;"/></th>
            <th><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/369731_1414474837_1204974515_n.jpg" alt="Takahito Nara" style="width:106px;height:106px;"/></th>
        </tr>
        <tr>
            <td><a href="/releasenote">リリースノート</a></td>
            <td><a href="/about">gishhubとは</a></td>
            <td><a href="/products">プロダクト</a></td>
            <td><a href="/members">メンバー紹介</a></td>
            <td><a href="/activities">活動場所</a></td>
            <td><a href="/inquiry">お問い合わせ</a></td>
        </tr>
    </table>
</div>

