body {
    padding-top    : 60px;
    padding-bottom : 40px;
}

.sidebar-nav {
    padding : 9px 0;
}


/**************** 特定文字の設定 ****************/

.error-message {color : #990033;
                font-size : 12px;
                font-weight : bold;
}

/***** submitボタン周り *****/
.submit-area {  text-align : center;
                padding-top : 5px;
                padding-bottom : 5px;
}

/*** 文字(注目用) ***/
.attention {    color : #FF0000;
                text-decoration : underline;
                float:left;
}

/*** flashデザイン ***/
.flash-message {
    height : 40px;
}

.fm-success-icon {
    background : url(../img/success.png) no-repeat;
    width      : 85px;
    height     : 35px;
    float      : left;
}

.fm-error-icon {
    background : url(../img/error.png) no-repeat;
    width      : 35px;
    height     : 35px;
    float      : left;
}

.flash-message-text {
    line-height : 29px;
    font-weight : bold;
    color       : #FFFF00;
}

.success {
    color : #C4FFC4;
}

.error {
    color : #FFFF00;
}

/*** テーブルデザイン ***/
.ctable {
}
.ctable table {
    margin     : auto;   /* 標準のセンタリング方法 */
    text-align : left;   /* IE用方法の弊害対策用 */
}
.ctable table th {
    text-align : center;
    background : #F1F1F1;
}
.ctable table td {
    text-align : center;
    background : #FFE9EB;
}
.ctable table a {
    color      : #d84779;
}
.ctable table a:hover {
    text-decoration: underline;
}

.index th {
    color : #000FFF;
}

/* 必須設定：*/
.require {
    background-image : url(../img/required.png);
    background-repeat : no-repeat;
    background-position : 10px 50%;
}

/** 未使用 **/
/* google map api用スペース： */
#map-canvas {   width: 700px;
                height: 500px;
}

/** 未使用 **/
/* google map api用スペース： */
#map-canvas2 {  width: 237x;
                height: 237px;
}

/***************
 * その他の設定：
 ***************/
.blueSquare {   width : 12px;
                height : 12px;
                background : #6EFEFE;
                display: inline-block;
                _display: inline;
}

.greenSquare {  width : 12px;
                height : 12px;
                background : #00FF44;
                display: inline-block;
                _display: inline;
}

.yellowSquare { width : 12px;
                height : 12px;
                background : #FFFF00;
                display: inline-block;
                _display: inline;
}

.pinkSquare {   width : 12px;
                height : 12px;
                background : #FC6CD8;
                display: inline-block;
                _display: inline;
}

.redSquare {    width : 12px;
                height : 12px;
                background : #FF0000;
                display: inline-block;
                _display: inline;
}


/*******************
 * メッセージの設定：
 *******************/
.msg {  color : #0000FF;
        font-size : 12px;
}

.error-msg {    color : red;
                font-size : 12px;
}

