<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <?= $this->Html->charset(); ?>
    <title><?= h($title_for_layout); ?></title>
    <?= $this->Html->meta('icon'); ?>
    <?= $this->Html->css('bootstrap.min'); ?>
    <?= $scripts_for_layout; ?>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript">

<? // Google Analyticsコード記述個所  ?>

    $(function(){
        $('#flash-message-success').fadeIn(1000).delay(3000).fadeOut(1000);
    });
    </script>
</head>
<body>
    <?= $this->Session->flash(); ?>
    <?= $this->element('home-bar' . DS . 'home-bar-top') ?>
    <div class="container-fluid">
        <?= $content_for_layout; ?>
        <hr>
        <footer>
            <p>Copyright &copy; <?= date('Y'); ?> <?= TITLE ?> all rights reserved.</p>
        </footer>
    </div>
</body>
</html>
